@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500&display=swap');
.login-container {
    padding: 4rem 2rem;
}
.login-first-container {
    display: flex;
    justify-content: center;
}
.signin {
    margin-bottom: 2rem;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.login-icons {
    width: 30%;
    text-align: center;
    padding: 1rem;
}
.login-icons input {
    padding: 0 24px;
    width: 65%;
    border: none;
    outline: none;
    border: 1px solid #b6b6b6;
    height: 3rem;
    border-radius: 10px;
    line-height: 24px;
}
.login-icons input:focus {
    border: 1px solid rgb(33, 33, 33);
}
.login-inputs {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-inputs svg {
    color: #4d4d4d;
    width: 3rem;
    height: 2rem;
}
.login-inputs-button {
    text-align: center;
    margin-top: 2rem;
}
.login-inputs-button button {
    cursor: pointer;
    background-color: #FA002F;
    padding: 1rem 4rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    outline: none;
}
.login-inputs-button button:hover {
    background-color: rgb(180, 0, 27);
}
.login-icons p {
    margin-top: 1rem;
    font-size: 14px;
    color:  #718096;
    font-weight: 100;
    font-family: 'M PLUS 2', sans-serif;
}
.login-icons p:hover {

    cursor: pointer;
    color: #FA002F
}
.login-inputs-links {
    margin-top: 2rem;
}
.footer-login {
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

}
.footer-login-first ul {
    list-style-type: none ;
    display: flex;
    padding: 0;
    margin: 0;
}
.footer-login-first li {
    cursor: pointer;
    padding: 0 1rem;
}
.login-inputs-links a {
    text-decoration: none;
}
.text-password { 
    position: absolute;
    margin-left: 10.5%;
}