
/* .password-container {
    width: 100%;
    height: 10rem;
} */
.password-container {
    height: 7px;
    margin-top: 5px;
}
.password-bar {
    border-radius: 10px;
    height: 7px;
    transition: all 0.7s;

}
.password-container p {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}