.forum-page-first {
    background-color: #F0F0F0;
}
.forgottenpassword-container p {
    margin: 0;
    padding: 0;
}
.forum-page-full {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.forgotten-password-second-container {
    padding: 1rem 0;
    width: 50%;
    margin: 0 auto;
}
.reset-password-p {
    font-size: 20px;
}
.password-below-p {
    margin-top: 5rem;
}
.forgotten-password-cell {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

}
.span-padding {
    padding: 0.5rem 0;
}
.forgotten-password-cell input {
    padding: 0.7rem;
    outline: none;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}
.forgotten-under-input {
    color: #7F878E;
    font-size: 14px;
}
.forgottenpassword-container button:disabled {
    cursor:not-allowed;
}
.forgottenpassword-container button {
    background-color: #FF133F;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    transition: ease-in 0.2s;

    color: #fff;
}
.forgottenpassword-container button:hover {
    background-color: rgb(180, 0, 27);
}
.forgotten-error {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
}
.success-forgotten {
    background-color: rgb(24, 190, 24);
    padding: 0.7rem 1rem;
    color: #fff;
    border-radius: 4px;
}
.error-forgotten {
    background-color:#FF133F;
    padding: 0.7rem 1rem;
    color: #fff;
    border-radius: 4px;
}
.success-forgotten a {
    color: #FF133F;
    cursor: pointer;
    text-decoration: none;
}