.forum-userby-posts-container {
    width: 80%;
    margin: 2rem auto;
}
.postbyuser-button {
    padding: 1rem 0 0 0;
}
.forum-page-full svg {
    vertical-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.spantitle {
    vertical-align: center;
}
.forum-page-full p {
    display: flex;
    align-items: center;
}
.postbyuser-button button {
    padding: 0.5rem;
    background-color: #FF133F;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.postbyuser-button button:hover {
    background-color: rgb(180, 0, 27);
}
.postbyuser-post {
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-top: 1rem;
    display: flex;
    
}
.postbyuser-leftside {
    border-right: 1px solid grey;
    flex: 0;
    padding: 1.5rem;
}
.leftside-username a {
    color: #7c7c7c;
    text-decoration: none;
}
.leftside-username {
    text-align: center;
}
.postbyuser-avatar {
    margin-top: 1rem;
    display: flex;
    width: 9rem;

}
.postbyuser-avatar img {
    width: 9rem;
    object-fit: cover;
    height: 7rem;
}
.postbyuser-content {
    flex: 1;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 1.5rem;
}
.postbyuser-posts {
    font-size: 11px;
    margin-top: 0.7rem;
    color: #7c7c7c
}
.postbyuser-content-title {
    color: #46494f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-reply {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
    background-color: #46494F;
    height: 20%;
    padding: 3rem;
}
.post-reply-input {
    margin: 0 auto;
    width: 40%;
    padding: 1rem;
}
.post-reply-first-input {
    display: flex;
    justify-content: center;
}
.post-reply-first-input input {
    color: #C7BCA0;
    border: none;
    background-color: #3C3E43;
    outline: none;
    border: 1px solid #34373B;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
}post-reply-second-input
.post-reply-second-input {
    display: flex;
    background-color: #fff;
    /* margin-top: 1.5rem; */
    justify-content: center;
}
.post-reply-second-input textarea {
    color: #C7BCA0;
    border: none;
    background-color: #3C3E43;
    outline: none;
    height: 6rem;
    padding: 0.4rem 0.5rem;
    width: 100%;
    border: 1px solid #34373B;
    border-radius: 5px;
}
.post-reply-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.post-reply-button button {
    padding: 0.5rem;
    background-color: #FF133F;
    border: none;
    outline: none;

    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.post-reply-button button:hover {
    background-color: rgb(180, 0, 27);
}
.postbyuser-content-title-edit {
    display: flex;
    justify-content: flex-end;
}
.button-edit {
    display: flex;
    align-items: center;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.postbyuser-content-title-edit svg {
    cursor: pointer;
    padding: 0.5rem;
    width: 2rem;
    height: 1.2rem;
}
.postbyuser-content-title-edit a {
    color: #46494f;
}
.lock-the-post {
    width: 80%;
    margin: 1rem auto;
}

.onClickOpen {
    position: fixed;
    transition: ease-in 0.2s;

    border: 1px solid #011627;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    background-color: #FDFFFC;
    height: 15%;
    padding: 10px;
    width: 40%;
    color: #011627;
  
    
}

.onclickopen-container {
    transition: ease-in 0.2s;

    width: 100%;
    position: fixed;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
}

.onclickopen-closewindow {
    display: flex;
    justify-content: flex-end;
}
.onclickopen-closewindow svg, .onedit-close svg {
    transition: ease-in 0.2s;

    cursor: pointer;
}
.onclickopen-closewindow svg:hover, .onedit-close svg:hover {
    transform: scale(1.2);
    transition: ease-in 0.2s;

}
.onclickopen-middle {
    display: flex;
    justify-content: center;
}
.onclickopen-choose {
    margin-top: 2rem;
    display: flex;
    justify-content:center;
}
.onclickopen-choose button {
    background-color: #FF133F;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
    transition: ease-in 0.2s;

    color: #fff;

}
.onclickopen-choose button:hover {
    transition: ease-in 0.2s;
    transform: scale(1.2);
}
.locked-container {
    color: #fff;
    width: 85%;
    margin: 0 auto;
}
.locked-container p {
    margin: 0;
    padding: 0;
}
.postbyuser-date {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    font-size: 13px;
}
.openmenu {
    transition: all ease-in-out 0.5s;
}
.openmenu-container {
    
    background-color: #fff;
    position: absolute;
    
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    animation-name: grow-box;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
}
.openmenu-container ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}
.openmenu-container ul li {
    display: flex;
    align-items: center;
    padding: 0.2rem 5rem 0.2rem 0.2rem;
}
.openmenu-container ul li svg {
    padding: 0.2rem;
    height: 2rem;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
}
.openmenu-container ul li:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
    transition: 50ms ease-in;
}
.openmenu svg {
    width: 1.2rem;
    height: 1.3rem;
    cursor: pointer;
}
.select-option-container {
    display: flex;
    justify-content: center;
}
.select-option-container select {
    padding: 0.5rem;
    outline: none;
    border-color: grey;
    margin-left: 1rem;
    border-radius: 5px;

}
.container-move {
    
    width: 100%;
    height: 100%;
}
.post-reply-error {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #FF133F;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 1rem;
}

@keyframes grow-box {
   
}


   .ql-editor {
    max-height: 90% !important;
  } 
  
  
  /* .paginationBttns a:hover {
  } */
  
  .div-quoted {
    background-color: red;
  }
/* blockquote {
    background-color: #ececec;
}
.acabTest {
    background-color: #ececec;

} */
.ql-syntax {
    background-color: #f1f1f1;
    /* color: #fff; */
    padding: 0.5rem;
    border-radius: 6px;
      pointer-events: none;
    

}
.onedit-container {
    background-color: #fff;
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 1rem;
    /* min-height: 40%; */
    max-height: 90%;
    /* height: 70%; */
    border-radius: 7px;
}
.onedit-container::-webkit-scrollbar {
    display: none;
  }
.onedit-close {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.onedit-texteditor {
    margin-top: 2%;
    vertical-align: center;
}
.onedit-button {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.onedit-button button {
    background-color: #FF133F;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
    transition: ease-in 0.2s;

    color: #fff;
}
.onedit-button button:hover {
    background-color: rgb(180, 0, 27);

}
.postbyuser-edited-container {
    background-color: #F9F9F9;
    border: 1px solid #F3F3F3;
    padding: 0.6rem;
    color: #c7c7c7;
    font-size: 10px;
    margin-top: 1rem;
}
/* .ql-container.ql-snow {
    background-color: #3C3E43;
    color: #fff;

} */

.post-reply-second-input {
    background-color: #fff;
    margin-top: 1.5rem;
    overflow: hidden;
}
/* .ql-toolbar.ql-snow svg {
   color: #fff;
} */
.pagination-container-searchperpost {
    display: flex;
    justify-content: flex-end;
}
.forum-page-full {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.forum-page-first {
    background-color: #F0F0F0;
}